
<div class="row">
    <div class="footer-container">
    <div class="footer-content">
        <div class="f-contact-cont">
        <div class="f-info">
            <p>© Copyright <span class='year'></span>.</p>
            <p>All Rights Reserved.</p>
        </div>
        <h3 id='contact' onclick="fSpoiler('f-contact')">Contact <span class='f-tr'> &#9660;</span></h3>
        <div class="f-accordion f-contact">
            <p>Headquarters:
            5600, Blvd. des Galeries, Bur 530
            Québec, Québec G2K 2H6</p>
            <p><a href="mailto: abc@example.com">contact@osf-global.com</a></p>
            <p><a href="tel:+18885484344"> +1 (888) 548-4344</a></p>
        </div>
        </div>
        <div class="f-categories-cont">
        <h3 onclick="fSpoiler('f-categories')">Categories <span class='f-tr'> &#9660;</span></h3>
        <div class="f-accordion f-categories">
            <ul class=''>
            <li><a href="/src/pages/404/404.html">Accessories</a></li>
            <li><a href="/src/pages/404/404.html">Alcohol</a></li>
            <li><a href="/src/pages/404/404.html">Art</a></li>
            <li><a href="/src/pages/404/404.html">Books</a></li>
            <li><a href="/src/pages/404/404.html">Drinks</a></li>
            <li><a href="/src/pages/404/404.html">Electronics</a></li>
            <li><a href="/src/pages/404/404.html">Flowers&Plants</a></li>
            <li><a href="/src/pages/404/404.html">Food</a></li>
            </ul>
            <ul class=''>
            <li><a href="/src/pages/404/404.html">Gadgets</a></li>
            <li><a href="/src/pages/404/404.html">Garden</a></li>
            <li><a href="/src/pages/404/404.html">Grocery</a></li>
            <li><a href="/src/pages/404/404.html">Home</a></li>
            <li><a href="/src/pages/404/404.html">Jewelry</a></li>
            <li><a href="/src/pages/404/404.html">Kids&Baby</a></li>
            <li><a href="/src/pages/404/404.html">Men's Fashion</a></li>
            <li><a href="/src/pages/404/404.html">Mobile</a></li>
            </ul>
        </div>
        </div>
        <div class="f-about-cont">
        <h3 onclick="fSpoiler('f-about')">About <span class='f-tr'> &#9660;</span></h3>
        <div class="f-accordion f-about">
            <ul class=''>
            <li><a href="/src/pages/404/404.html">About</a></li>
            <li><a href="/src/pages/404/404.html">Delivery</a></li>
            <li><a href="/src/pages/404/404.html">Testimonials</a></li>
            <li><a href="/src/pages/404/404.html">Contact Us</a></li>
            </ul>
        </div>
        </div>
        <div class="f-social-cont">
        <div class='f-social'>
            <a href="https://www.facebook.com"><img src="/src/img/fb.svg" alt="facebook"></a>
            <a href="https://www.Google.com"> <img src="/src/img/g+.svg" alt="Google+"></a>
            <a href="https://www.twitter.com"> <img src="/src/img/twitter.svg" alt="Twitter"></a>
            <a href="https://www.pinterest.com"> <img src="/src/img/pintr.svg" alt="Pinterest"></a>
        </div>
        </div>
    </div>
    </div>
    <div class="footer-nav">
    <div class="f-icons-cont">
        <div class="f-icons">
        <a href="/src/pages/404/404.html"><img src="/src/img/loope-icon.svg" alt=""></a>
        <a href="/src/pages/404/404.html"><img src="/src/img/user-icon.svg" alt=""></a>
        <a href="/src/pages/404/404.html"><img src="/src/img/hearted-icon.svg" alt=""></a>
        <a href="src/pages/404/404.html"><img src="/src/img/shopping-icon.svg" alt=""></a>
        </div>
    </div>
    </div>
    